#feedback {
	display: flex;
	justify-content: center;
	flex-direction: column;

	visibility: hidden;
	opacity: 0;
	max-height: 0;
	overflow: hidden;

	border-radius: 1rem;
	box-shadow: 0 0 8px rgba(45,60,100,.03), 0 4px 32px rgba(45,60,100,.05);

	transition: opacity .5s ease;
}

#feedback.show {
	visibility: visible;
	opacity: 1;
	max-height: 800px;
	margin: 3vw;
	padding: 4vw;
}

.feedback-form {
	width: 650px;
}

.contacts {
	margin-top: 4vw;
	margin-bottom: 4vw;
}

.contacts-item {
	display: flex;
	width: 25vw;
	height: auto;
	padding: 2vw;
}

.contacts-container {
	align-items: stretch;
}

.contacts-item-desc {
	width: 100%;
	word-wrap: break-word;
}

.contacts-item > * {
	color: #212830;
}

/* Медиа-запрос для маленьких экранов */
@media screen and (max-width: 768px) {
	.contacts {
		padding: 10vw 0;
	}
	.contacts-container {
		flex-direction: column;
	}
	.contacts-item {
		width: 100% !important;
		padding: 5vw;
		margin-bottom: 4vw;
	}
	.contacts-item-heading {
		font-size: 1.2rem;
	}
	.contacts-item-desc {
		margin: 2vw 0;
	}
	#feedback.show {
		padding: 8vw;
	}
	.feedback-form {
		width: 100%;
	}
}