* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
	font-size: 14px;
}

::selection {
	background: #eee; /* All browsers */
}
::-moz-selection {
	background: #eee; /* Firefox */
}

:root {
	--text-color: #212830;
	--border: 1px solid #f5f5f7;
	--border2: 1px solid #d3d4d6;
	--border3: 1px solid #005de0;
	--gray-bg: #f5f5f7;
	--accent-color: #005de0;
	--main-transition: .3s ease-in-out;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

svg {
	fill: currentColor;
}

/* HEADER */

.layout-header {
	position: sticky;
	display: flex;
	flex-direction: column;
	top:0;

	background: #fff;
	box-shadow: 0 2px 24px rgba(45,60,100,.04), 0 4px 32px rgba(45,60,100,.04);

	z-index: 1000;
}

.logo {
	display: flex;
	align-items: center;
}

.search {
	border-radius: 1rem;
	background: var(--gray-bg);
	color: #373e45;

	display: flex;
	align-items: center;
	width: 25vw;
	margin: .7vw 2vw;
	padding: .3vw;

	border: 1px solid transparent;
	transition: var(--main-transition);
}

.search svg {
	margin: 0 .5vw;
	width: 1rem;
	height: 1rem;
}

.search:hover {
	border: var(--border3);
}

.burger-menu {
	position: absolute;
	display: none;
	width: 100%;
	padding: 10vw;
	top: 14vw;
	left: 0;

	background: #fff;
	z-index: 1;
}

.burger-menu.active {
	display: block;
}

.burger-menu .nav-link {
	padding: .6rem 0;
	margin: .1rem 0;
}

.auth, .burger-menu .nav-auth {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-menu .nav-auth .button-link {
	padding: 2vw 4vw !important;
}

.burger-menu .search {
	display: flex;
	width: 100%;
	margin: 4vw 0;
	padding: 2vw;
	border-radius: 2rem;
}

.burger-menu .navbar {
	align-items: flex-start;
	flex-direction: column;
}

.header-top {
	position: relative;
	display: flex;
	align-items: center;
	border-bottom: var(--border);
	z-index: 10;
}

.header-top .show-button {
	position: absolute;
	display: none;
	align-self: center;

	border-radius: 50%;
	padding: 3vw;
	top: 3vw;
	right: 3vw;
	transition: var(--main-transition);
	z-index: 888;
}

.header-top .show-button:hover {
	background: var(--gray-bg);
}


.header-bottom {
	display: flex;
	padding: 1vw 0;
	border-bottom: var(--border);
}

.navbar {
	display: flex;
	align-items: center;
}

.nav-link {
	font-size: 14px;

	color: var(--text-color);
	text-decoration: none;
	padding-right: 1vw;

	transition: var(--main-transition);
}

.nav-link:hover {
	color: var(--accent-color);
}


/* MAIN */

.layout-main {
	position: relative;
	flex-grow: 1;
}

.section-heading {
	display: block;
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 2vw;
	width: 100%;
}

.features, .quick-start,
.split-block, .partners, .team {
	padding: 4vw 0;
}
/* HERO */
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vw 0;

	background: var(--gray-bg);
}

.h-heading {
	border-right: #005de0 .5rem solid;
	font-size: 4rem;
	margin-bottom: 2vw;
	width: 14.5rem;

	white-space: nowrap;
	overflow: hidden;

	-webkit-animation: typing 1.2s steps(15, end),
	blink-caret .5s step-end infinite alternate;
}

.h-sub-heading {
	font-size: 24px;
	width: 45vw;
}

.hero .button-link {
	font-size: 18px;
	margin: 3vw 0;
	padding: .5vw 2vw;
}

.h-left {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.h-right {
	width: 24vw;
	height: 24vw;
	overflow: hidden;

	border-radius: 14px;
}

.h-right video {
	height: 100%;
	transform: translateX(-10vw);
}

/* FEATURES */

.features-container, .contacts-container {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 100%;
}


.features-item, .contacts-item {
	position: relative;
	display: flex;
	justify-content: center;

	cursor: pointer;
	width: 24vw;
	height: 10vw;

	background: #fff;

	padding: 3vw;

	border-radius: 1rem;
	box-shadow: 0 0 8px rgba(45,60,100,.03), 0 4px 32px rgba(45,60,100,.05);
	transition: .2s ease-in-out;
}

.features-item {
	height: 25vw;
	flex-direction: column;
	justify-content: space-around;
}

.features-item:hover, .team-item:hover {
	transform: scale(1.02);
}

.features-item.accent-item {
	color: #fff;
	background: var(--accent-color) !important;
}

.features-item.accent-item .features-item-icon {
	fill: #fff;
}

.f-heading {
	font-size: 2rem;
	font-weight: 600;
	word-wrap: break-word;
	line-height: 1;
	transition: var(--main-transition);
}

.f-description {
	margin: 1vw 0;
	word-break:keep-all;
	z-index: 10;
}

.features-item .features-item-icon {
	width: 5vw;
	height: 5vw;
	fill: var(--accent-color);
}

.features-item:hover .arrow-right {
	color: var(--accent-color);
	right: 1vw;
	opacity: 1;
}

/* PARTNERS */

.partners-carousel {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--gray-bg);
	border-radius: 16px;
	padding: 1.5vw 0;
	overflow: hidden;
}

.carousel-buttons {
	position: absolute;
	width: 100%;
	top: 2.8vw;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.carousel-button {
	background: var(--gray-bg);
	border: none;
	margin: 1vw 2vw;
	color: #7a7e83;

	transition: var(--main-transition);
	z-index: 101;
}

.carousel-button:hover {
	color:#373e45;
}

.carousel-container {
	display: flex;
	position: relative;
	margin: 0 .5vw;
	overflow: hidden;
	white-space: nowrap;
	transition: all 0.2s;
	user-select: none;
	cursor: pointer;
	z-index: 2;
}

.carousel-item {
	display: inline-block;
	margin: 1vw  2vw;
}

.partners-carousel::before,
.partners-carousel::after {
	content: '';
	position: absolute;
	top: 0;
	width: 10vw; /* Ширина прозрачной области на краях */
	height: 100%;
	background: linear-gradient(to left, rgba(248, 248, 250, 0), rgba(248, 248, 250, 1), rgba(248, 248, 250, 0));
	z-index: 100;
}

.partners-carousel::before {
	left: 1.5vw;
}

.partners-carousel::after {
	right: 1.5vw;
}

.c-icon {
	height: 4vw;
}

/* QUICK-START */

.quick-start {
	display: flex;
	justify-content: space-between;
	/*background: #f8f8fa;*/
}

.q-desc {
	width: 24vw;
	line-height: 1.5;
}

.quick-start .split-left {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 35vw;
}

.quick-start .split-right {
	position: relative;
	justify-content: center;
	width: 40vw;
}

.q-img {
	width: 100%;
}

.q-button {
	margin: 2vw 0;
	padding: 1rem 2.5vw !important;
}

/* TEAM */

.team-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team-item {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	background: var(--gray-bg);

	padding: 2vw .5vw;
	width: 14.5vw;
	border-radius: 1rem;
	transition: .2s ease-in-out;
}

.t-name {
	color: var(--accent-color);
	font-size: 1.15rem;
	font-weight: 600;
	text-align: center;

	margin: 1vw 0;

}

.t-img {
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	overflow: hidden;
	/* padding: 5px; */
	border: var(--border2);
}

.t-role {
	text-align: center;
}

/* SPLIT-BLOCK */

.split-block {
	display: flex;
	justify-content: space-between;
}

.split-block .button-link {
	font-size: 1.2rem;
	margin-right: 1vw;
	padding: 1vw 2vw;
}

.split-left {
	display: flex;
	flex-wrap: wrap;

	width: 50vw;
}

.split-left .q-img {
	display: none;
	justify-self: center;
	width: 50vw;
}

.split-right {
	display: flex;
	font-weight: 500;
	flex-direction: column;
	white-space: nowrap;

	padding-left: 2vw;
	border-left: var(--border2);
}

.split-link {
	padding: .7vw 0;
	color: var(--accent-color);
	font-size: 1.2rem;
}

.split-heading {
	font-size: 1.5rem;
	padding-bottom: .5vw;
}

/* ############################################# */

/* FOOTER */

.layout-footer {
	background: var(--gray-bg);
	padding: 4vw 0;
	z-index: 10;
}

.footer-links {
	display: flex;
	flex-wrap:wrap;
	list-style: none;

	/*width:70%;*/
}

.footer-link {
	padding-right: 	.6vw;
	padding-bottom: .5vw;
	color: #7a7e83;
}

.footer-link a {
	font-size: 12px;
	transition: .3s ease-in-out;
}

.footer-link:hover a {
	color: #000;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
}

.footer-left {
	width: 30vw;
}

.footer-right {
	/*margin-left: auto !important;*/
}

.footer-copyright {
	font-size: .75rem;
	font-weight: 500;
	color:#7a7e83;
}

.footer-social-buttons {
	padding-top: .5vw;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-column {
	display: flex;
	flex-direction: column;
	margin: 2vw 0;
}

.footer-item {
	color: #7a7e83;
	padding: .4vw 0;

	transition: .3s ease-in-out;
}

.footer-item:hover, .footer-item.accent:hover {
	color: #212830;
}

.footer-item.accent {
	color: #005de0;
	font-weight: 500;
}

.footer-logo-link {
	display:flex;
	align-items: center;
	margin-bottom: 2vw;
}

.footer-logo {
	font-size: 25px;
	font-weight: 700;
	padding-left: .3vw;
}

.footer-column-header {
	padding-bottom: .5vw;
	font-weight: 600;
	color: #373e45;
}

/* ################################################### */


/* CONTACTS */

.contacts .contacts-item {
	flex-direction: column;
	justify-content: flex-start;
}

.contacts-item-heading {
	font-size: 1.5rem;
	font-weight: 600;
}

.contacts-item-desc, .contacts-item-desc span {
	font-size: .875rem;
	padding: 1vw 0;
}

.underline-link {
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
}

/* ################################################### */


/* SUPPORTING */

.arrow-right {
	position: absolute;
	opacity: 0;

	width: 2rem;
	height: 2rem;
	bottom: .5vw;
	right: 1.5vw;

	background: no-repeat url("../img/arrow-right.svg");
	background-size:cover;
	transition: opacity .3s ease-in-out, right .2s ease-in-out;
}

.arrow-container {
	height: 100%;
	position: absolute;
	bottom: 2vw;
	right: 2vw;
	display: flex;
	flex-direction: column-reverse;
	z-index: 999;
}

.arrow-up {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	bottom: 2vw;

	background: #fff;
	opacity: .8;
	border: 1px solid #f5f5f7;
	box-shadow: 0 0 20px rgba(45,60,100,.1);
}
.arrow-up:hover {

}

.menu-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	/*display: none;*/
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 777;
}

.m-l {
	margin-left: 9.5vw;
}

.m-r {
	margin-right: 9.5vw;
}

.m-l-auto {
	margin-left: auto;
}

.m-r-auto {
	margin-right: auto;
}

/* ################################################### */


/* BUTTONS */

.button-link {
	text-decoration: none;
	color: #212830;
	background-color: transparent;

	white-space: nowrap;
	/*line-height: 2;*/

	border:none;
	outline: 1px solid #005de0;
	border-radius: 100px;
	padding: .3vw 1vw;

	transition: .3s ease-in-out;
}

.button-link:hover {
	background: #005de0;
	color: #fff;
}

.l-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border:none;
	outline: none;
}

.l-button:hover {
	background: none;
	color:#005de0;
}

.s-button {
	color:#7a7e83;
	margin-left: .5vw;

	transition: .3s ease-in-out;
}

.s-button:hover {
	color: #212830;
}

.d-button {
	color:#006aff;
	/* background: #212830; */
	background: #343f48;

	outline: none;
	transition: .3s ease-in-out;
}

.d-button:hover {
	color:#fff;
	background: #005de0;
}

.m-button {
	color: #bfddff;
	font-weight: 500;
	background: #015fe2;
}

.b-button {
	outline: #000 solid 1px;
}

.button-link.b-button:hover {
	outline: none;
}
/* ################################################### */

/* BREADCRUMBS */

.contacts-breadcrumbs {
	margin: 2vw 0;
}

.breadcrumb-container {
	list-style: none;
	display: flex;
	align-items: center;
}

.breadcrumb-item {
	font-weight: 500;
}

.breadcrumb-item.breadcrumb-second {
	font-weight: 400;
	color:#7a7e83;
}

/* ################################################### */


/* Анимации */
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

/* Медиа-запрос для средних экранов */
@media screen and (max-width: 900px) {
	.header-top {
		padding: 1rem 0;
	}
	.f-heading, .h-sub-heading {
		font-size: 1.5rem;
	}
	.header-bottom .button-link {
		display: none;
	}
}

/* Медиа-запрос для маленьких экранов */
@media screen and (max-width: 768px) {
	* {
		font-size: 16px;
	}
	/* header */
	.header-top {
		padding: 5vw 0;
	}
	.search { display: none; }
	.header-top .show-button {
		display: flex;
	}
	/* hero */
	.hero {
		padding: 15vw 0;
	}
	.hero .button-link {
		font-size: 1rem;
		margin: 10vw 0;
	}
	.h-sub-heading {
		font-size: 1.2rem;
	}
	.section-heading {
		font-size: 1.8rem !important;
		margin-bottom: 4vw;
	}
	.h-left {
		width: 100%;
	}
	.h-sub-heading {
		width: 100%;
	}
	.h-right { display: none; }
	.header-bottom {
		display: none;
	}
	.auth {	display: none; }

	/* features */
	.features-container {
		flex-direction: column;
	}
	.features-item {
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 40vw;
		margin: 2vw 0;
		padding: 5vw;
	}
	.features-item .features-item-icon {
		width: 10vw;
		height: 10vw;
	}
	.f-heading {
		font-size: 1.5rem;
		margin-left: 2vw;
	}
	.f-description {
		width: 100%;
	}
	.features, .quick-start, .split-block, .partners, .team {
		padding: 10vw 0;
	}

	/* quick-start */
	.quick-start .split-right {
		display: none;
	}
	.split-left .q-img {
		display: block;
		width: 100%;
	}
	.q-desc {
		width: 100%;
		margin: 5vw 0;
	}

	/* partners */
	.partners-carousel {
		padding: 8vw 0;
	}
	.c-icon {
		height: 12vw;
	}

	/* team */
	.t-img {
		width: 20vw;
		height: 20vw;
	}
	.team-item {
		width: 40vw;
		padding: 4vw;
		margin-bottom: 4vw;
		margin-right: 4vw;
	}

	/* split-block */
	.split-block {
		flex-direction: column;
	}
	.split-link, .split-heading {
		padding: 1.5vw 0;
		font-size: 1rem;
	}
	.split-left {
		width: 100% !important;
	}
	.split-right {
		border: none;
		padding: 0;
		margin: 10vw 0;
	}
	.split-block .d-button, .b-button {
		font-size: 1rem !important;
		margin-bottom: 2vw;
	}
	/* footer */
	.footer-bottom {
		flex-wrap: wrap;
	}
	.footer-left *, .footer-right * {
		font-size: 1rem !important;
	}
	.footer-left {
		width: 100%;
		margin: 5vw 0;
	}
	.footer-link {
		padding-right: 	2vw;
	}
	.footer-item {
		padding: 1vw 0;
	}
	.footer-logo-link {
		margin: 4vw 0;
	}

	/* buttons */
	.button-link {
		padding: 4vw 12vw !important;
	}
	/*	supporting */
	.arrow-container, .arrow-up {
		right: 10vw;
		bottom: 10vw;
	}
	.arrow-up {
		width: 15vw;
		height: 15vw;
	}
	.m-l {
		margin-left: 5vw;
	}

	.m-r {
		margin-right: 5vw;
	}
}

/* Медиа-запрос для очень маленьких экранов */
@media screen and (max-width: 320px) {
	* {
		font-size: 12px;
	}
	.features, .quick-start, .split-block, .partners, .team {
		padding: 6vw 0;
	}
}