.demo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4vw;
	margin-bottom: 4vw;
}

.converter-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#from, #to {
	width: 38.5vw;
	min-height: 25vw;
	overflow: hidden;

	border-radius: 16px;
	border-bottom-right-radius: 0 !important;
	border: 1px solid #d3d4d6;
}

.convert-button {
	background: #373e45;
	color: #fff;

	padding: 1vw;
 	margin: 2vw 0;
	border: none;
	border-radius: 1rem;

	transition: .3s ease-in-out;
}

.convert-button:hover {
	background: #005de0;
}

.drag-n-drop {
	padding: 1vw;
	border-radius: 12px;
	border: 2px dotted #d3d4d6;
}

.import-block, .export-block {
	display: flex;
	align-items: stretch;
	margin: .5vw 0;
	width: 100%;
	height: 5.5vw;
}

.open-file, .save-file, .copy-btn {
	background: #fff;
	padding: 1vw .8vw;
	border-radius: 8px;
}

.CodeMirror {
	resize: vertical;
	min-height: 25vw;
}

.CodeMirror *, .CodeMirror > * {
	font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif !important;
}

.bi {
	margin-right: .5vw;
}


/* Медиа-запрос для маленьких экранов */
@media screen and (max-width: 1024px) {
	.import-block, .export-block {
		height: 8vw;
	}
	.convert-button {
		padding: 2vw 5vw;
		margin: 3vw 0;
	}
}
/* Медиа-запрос для маленьких экранов */
@media screen and (max-width: 768px) {
	.converter-container {
		flex-direction: column;
	}
	.converter-left {
		margin-bottom: 5vw;
	}
	.convert-button {
		padding: 4vw 10vw;
		margin: 5vw 0;
	}
	.import-block, .export-block {
		height: auto;
	}
	.import-block {
		margin-bottom: 4vw;
	}
	.drag-n-drop {
		padding: 4vw;
	}
	#to, #from {
		width: 100%;
	}
}